################################################################################
#
#   Files for git to ignore
#
################################################################################

# MacOS files
.DS_Store

# Compiled Python modules
*.pyc
*.ipynb_checkpoints

# Data folder
jobs/*
scratch_jobs/*

# Cron logs
crontabs/*.log